{{- /*
  Main Partial: Font-face Handling Script
  This partial processes font-face declarations in a stylesheet, downloads fonts,
  and rewrites the stylesheet to use local copies of the fonts.
*/ -}}
{{- $gfontsStylesheetUrl := .url}}
{{- $gfontsStylesheetCacheKey := print $gfontsStylesheetUrl (now.Format "2006-01-02") }}
{{- $gfontsStylesheetOpt := dict "key" $gfontsStylesheetCacheKey "headers" (dict "user-agent" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36") }}
{{- $gfontsStylesheet := "" }}
{{- with resources.GetRemote $gfontsStylesheetUrl $gfontsStylesheetOpt }}
  {{- with .Err }}
    {{- errorf "%s" . }}
  {{ else }}
    {{- $gfontsStylesheet = . }}
  {{- end }}
{{- else }}
  {{- errorf "Unable to get remote resource %q" $gfontsStylesheetUrl }}
{{- end }}
{{- $stylesheet := $gfontsStylesheet }}
{{- $fontsDir := .fontsDir}}
{{- $cssDir := .cssDir }}
{{- $cssFile := .cssFile }}
{{- $fontFaceBlocks := partial "helper/font-face-extractor.html" $stylesheet }}
{{- $updatedFontFaceBlocks := slice }}
{{- with $fontFaceBlocks }}
  {{- $fontFaceBlocksIndex := 0 }}
  {{- range $fontFaceBlocks }}
    {{- $fontFaceBlock := index . 0 }}
    {{- $fontFamily := partial "helper/extract-font-family.html" (index . 1) }}
    {{- $fontRemoteDest := index (index (findRESubmatch `url\(([^)]+)\)` $fontFaceBlock) 0) 1 }}
    {{- $fontRemoteDirectory := printf "%s/%s" (index (index (findRESubmatch `(https:\/\/)(.*)\/` $fontRemoteDest) 0) 1) (index (index (findRESubmatch `(https:\/\/)(.*)\/` $fontRemoteDest) 0) 2) }}
    {{- $fontRemoteFile := findRESubmatch `\/([^\/]+)\.([^\W]+)$` $fontRemoteDest }}
    {{- $fontRemoteCacheKey := print $fontRemoteDest (now.Format "2006-01-02") }}
    {{- $fontRemote := resources.GetRemote $fontRemoteDest (dict "key" $fontRemoteCacheKey) }}
    {{- if $fontRemote.Err }}
      {{- fmt.Errorf "Failed to download font: %s" $fontRemote.Err }}
    {{- else }}
      {{- $fontLocalPath := printf "/%s/%s/%s.%v.%s" $fontsDir (lower $fontFamily.normalized) (lower $fontFamily.normalized) $fontFaceBlocksIndex (index (index $fontRemoteFile 0) 2)}}
      {{- $fontLocalAbsURL := absURL (printf "%s/%s/%s.%v.%s" $fontsDir (lower $fontFamily.normalized) (lower $fontFamily.normalized) $fontFaceBlocksIndex (index (index $fontRemoteFile 0) 2))}}
      {{- $fontLocalCopied := resources.Copy $fontLocalPath $fontRemote }}
      {{- if $fontLocalCopied }}
        {{- $fontLocalCopied.Publish }}
        {{- $updatedFontFaceBlock := replaceRE `url\(([^)]+)\)` (printf "url('%s')" $fontLocalAbsURL) $fontFaceBlock }}
        {{- $updatedFontFaceBlocks = $updatedFontFaceBlocks | append $updatedFontFaceBlock }}
      {{- else }}
      {{- end }}
    {{- end }}
    {{- $fontFaceBlocksIndex = add $fontFaceBlocksIndex 1 }}
  {{- end }}
{{- end }}
{{- $fontLocalStylesheetContent := delimit $updatedFontFaceBlocks "\n" }}
{{- $fontLocalStylesheetPath := printf "/%s/%s" $cssDir $cssFile }}
{{- $fontLocalStylesheet := $fontLocalStylesheetContent | resources.FromString $fontLocalStylesheetPath | minify | fingerprint }}
{{- if eq hugo.Environment "development" }}
  <link rel="stylesheet" href="{{- $fontLocalStylesheet.Permalink -}}" />
{{- else }}
  <link rel="preconnect" href='{{absURL (printf "%s" $cssDir )}}' />
  <link rel="preconnect" href='{{absURL (printf "%s" $fontsDir )}}' crossorigin/>
  <link rel="stylesheet" href="{{- $fontLocalStylesheet.Permalink -}}" crossorigin="anonymous" integrity="{{- $fontLocalStylesheet.Data.Integrity }}" />
{{- end }}
