{{- /*
  Main Partial: Font-face Handling Script
  This partial processes font-face declarations in a stylesheet, downloads fonts,
  and rewrites the stylesheet to use local copies of the fonts.
*/ -}}
{{- $gfontsCssUrl := .url}}
{{- $gfontsCssCacheKey := print $gfontsCssUrl (now.Format "2006-01-02") }}
{{- $gfontsCssOpt := dict "key" $gfontsCssCacheKey "headers" (dict "user-agent" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36") }}
{{- $gfontsCss := "" }}
{{- with resources.GetRemote $gfontsCssUrl $gfontsCssOpt }}
  {{- with .Err }}
    {{- errorf "%s" . }}
  {{ else }}
    {{- $gfontsCss = . }}
  {{- end }}
{{- else }}
  {{- errorf "Unable to get remote resource %q" $gfontsCssUrl }}
{{- end }}
{{- $stylesheet := $gfontsCss }}
{{- $fontsDir := .fontsDir}}
{{- $cssDir := .cssDir }}
{{- $cssFile := .cssFile }}
{{- $fontFaceBlocks := partial "helper/font-face-extractor.html" $stylesheet }}
{{- $updatedFontFaceBlocks := slice }}
{{- with $fontFaceBlocks }}
  {{- $fontFaceBlocksIndex := 0 }}
  {{- range $fontFaceBlocks }}
    {{- $fontFaceBlock := index . 0 }}
    {{- $fontFamily := partial "helper/extract-font-family.html" (index . 1) }}
    {{- $fontRemoteDest := index (index (findRESubmatch `url\(([^)]+)\)` $fontFaceBlock) 0) 1 }}
    {{- $fontRemoteDirectory := printf "%s/%s" (index (index (findRESubmatch `(https:\/\/)(.*)\/` $fontRemoteDest) 0) 1) (index (index (findRESubmatch `(https:\/\/)(.*)\/` $fontRemoteDest) 0) 2) }}
    {{- $fontRemoteFile := findRESubmatch `\/([^\/]+)\.([^\W]+)$` $fontRemoteDest }}
    {{- $cacheKey := print $fontRemoteDest (now.Format "2006-01-02") }}
    {{- $downloadedFont := resources.GetRemote $fontRemoteDest (dict "key" $cacheKey) }}
    {{- if $downloadedFont.Err }}
      {{- fmt.Errorf "Failed to download font: %s" $downloadedFont.Err }}
    {{- else }}
      {{- $fontLocalPath := printf "/%s/%s/%s.%v.%s" $fontsDir (lower $fontFamily.normalized) (lower $fontFamily.normalized) $fontFaceBlocksIndex (index (index $fontRemoteFile 0) 2)}}
      {{- $fontLocalAbsURL := absURL (printf "%s/%s/%s.%v.%s" $fontsDir (lower $fontFamily.normalized) (lower $fontFamily.normalized) $fontFaceBlocksIndex (index (index $fontRemoteFile 0) 2))}}
      {{- $copiedFont := resources.Copy $fontLocalPath $downloadedFont }}
      {{- if $copiedFont }}
        {{- $copiedFont.Publish }}
        {{- $updatedFontFaceBlock := replaceRE `url\(([^)]+)\)` (printf "url('%s')" $fontLocalAbsURL) $fontFaceBlock }}
        {{- $updatedFontFaceBlocks = $updatedFontFaceBlocks | append $updatedFontFaceBlock }}
      {{- else }}
      {{- end }}
    {{- end }}
    {{- $fontFaceBlocksIndex = add $fontFaceBlocksIndex 1 }}
  {{- end }}
{{- end }}
{{- $localFontStylesheetContent := delimit $updatedFontFaceBlocks "\n" }}
{{- $localFontStylesheetPath := printf "/%s/%s" $cssDir $cssFile }}
{{- $localFontStylesheet := $localFontStylesheetContent | resources.FromString $localFontStylesheetPath | minify | fingerprint }}
{{- if eq hugo.Environment "development" }}
  <link rel="stylesheet" href="{{- $localFontStylesheet.Permalink }}" />
{{- else }}
  <link rel="stylesheet" href="{{- $localFontStylesheet.Permalink }}" crossorigin="anonymous" integrity="{{- $localFontStylesheet.Data.Integrity }}" />
{{- end }}
