{{- /*
  Helper: Process Font URLs
  Downloads fonts and updates URLs in a @font-face block.
*/ -}}

{{ $block := .block }}
{{ $fontFamilyName := .family }}
{{ $fontsDir := .fontsDir}}

{{ range findRESubmatch `url\(([^)]+)\)` $block }}
  {{ $fontUrl := index . 1 }}
  {{ $downloadedFont := resources.GetRemote $fontUrl }}

  {{ if $downloadedFont.Err }}
    {{ errorf "Failed to download font: %s" $downloadedFont.Err }}
  {{ else }}
    {{ $localFontPath := printf "/%s/%s%s" $fontsDir $fontFamilyName $downloadedFont.Name }}
    {{ $copiedFont := resources.Copy $localFontPath $downloadedFont }}

    {{ if $copiedFont }}
      {{ $copiedFont.Publish }}
      {{ $block = replaceRE `url\(([^)]+)\)` (printf "url('%s')" $localFontPath) $block }}
    {{ else }}
      {{ errorf "Failed to copy font to local path: %s" $localFontPath }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $block }}
