{{- /*
  Helper: Stylesheet Generator
  Generates the final stylesheet with updated font-face URLs.
*/ -}}

{{ $updatedFontFaceBlocks := .updatedFontFaceBlocks }}
{{ $dir := .dir }}
{{ $name := .name }}

{{ $updatedStylesheetContent := delimit $updatedFontFaceBlocks "\n" }}
{{ $generatedStylesheetPath := printf "%s/%s" $dir $name }}
{{/*  {{ $finalStylesheet := $updatedStylesheetContent | resources.FromString $generatedStylesheetPath | minify | fingerprint }}  */}}
{{ $finalStylesheet := $updatedStylesheetContent | resources.FromString $generatedStylesheetPath | fingerprint }}

{{ return $finalStylesheet }}
